---
---

<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
  {% include head_extras_piculator.html %}
 </head>

<body>

<header>
  {% include piculator_lettering.html %}
  <button title="Help" id="help-button" onclick="showHelp()">
    <i class="fas fa-question"></i>
  </button>
</header>

<div id="mainarea">

  <div class="block">
    <h1>Input</h1>

    <h2>Control</h2>
    <div class="buttonarea">
      <button id="button-playpause" title="Run Continuously" onclick="playpause()">
        <i class="fas fa-play play-text"></i>
        <i class="fas fa-pause pause-text"></i>
      </button>
      <button id="button-advance" title="Do One Iteration" onclick="advance()"><i class="fas fa-step-forward"></i></button>
      <button id="button-restart" title="Reset" onclick="restart()"><i class="fas fa-redo"></i></button>
    </div>

    <h2>Speed Limit</h2>
    <div class="speedarea">
      <input type="range" min="0" max="100" value="70" step="1" class="slider" id="range-speed">
      <div class="range-speed-slow">Slow</div>
      <div class="range-speed-fast">Fast</div>
    </div>

    <h2>Decimal Places</h2>
    <div class="precisionarea">
      {% include prec_button.html value="100" %}
      {% include prec_button.html value="500" %}
      {% include prec_button.html value="1000" %}
      {% include prec_button.html value="2000" %}
    </div>

    <h2>Algorithm</h2>
    <div class="algoarea">
      {% include algo_button.html
        id="leibniz"
        name="Leibniz"
        link="Leibniz_formula_for_pi"
        formula="$$\pi = 4\sum\limits_{k=0}^\infty \frac{(-1)^{k}}{2k + 1}$$"
        %}
      {% include algo_button.html
        id="borwein"
        name="Borwein"
        link="Borwein's_algorithm#Class_number_4_.281993.29"
        %}
      {% include algo_button.html
        id="borwein_nonic"
        name="Borwein (nonic)"
        link="Borwein's_algorithm#Nonic_convergence"
        %}
      {% include algo_button.html
        id="bbp"
        name="Bailey-Borwein-Plouffe"
        link="Bailey-Borwein-Plouffe_formula"
        formula="$$\pi = \sum\limits_{k=0}^\infty \left(\frac{1}{16^{k}}\left(\frac{4}{8k + 1} - \frac{2}{8k + 4} - \frac{1}{8k+5} - \frac{1}{8k + 6}\right)\right)$$"
        %}
      {% include algo_button.html
        id="gauss_legendre"
        name="Gauss-Legendre"
        link="Gauss-Legendre_algorithm"
        %}
      {% include algo_button.html
        id="chudnovsky"
        name="Chudnovsky"
        link="Chudnovsky_algorithm"
        formula="$$\pi = \frac{426880\sqrt{10005}}{\sum^\infty_{q=0} \frac{(6q)! (545140134q + 13591409)}{(3q)!(q!)^3 \left(-262537412640768000\right)^{q}}}$$"
        %}
      {% include algo_button.html
        id="zeta"
        name="Riemann Zeta function"
        link="Riemann_zeta_function"
        formula="$$\pi = \sqrt{6\sum_{q=1}^\infty \frac{1}{q^2} }$$"
        %}

    </div>

  </div>

  <div id="output-block" class="block">
    <h1>Output</h1>

    <pre id="output"></pre>
  </div>

  <div class="block">
    <h1>Code</h1>


    <code id="code"></code>
  </div>

  <div id="error-overlay"></div>

  <noscript>
    <div id="noscript-overlay">
      Because the &pi;culator runs entirely in your browser, JavaScript is required. Please enable JavaScript to use the &pi;culator.
    </div>
  </noscript>

</div>

<div id="helpoverlay">

  <div class="titlearea">
    <h1>&pi;culator Help</h1>

    <button id="close-help-button" title="Close Help" onclick="hideHelp()">
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div class="helpcontents">
    {% include help.html %}
  </div>

</div>

{% include footer.html %}

</body>

</html>
