


<p>Welcome to &pi;culator! This web app allows you to approximate &pi; (pi), the ratio of a circle&rsquo;s circumference to its diameter. It also provides its own JavaScript code so you can try it for yourself.</p>

<h1>Usage</h1>

<p>Select the number of decimal places to approximate and your preferred algorithm for the computation among the options available. Changing the number of decimal places or the algorithm will reset the approximation.</p>

<p>Use the &ldquo;Run Continuously&rdquo; button (<i class="fas fa-play play-text"></i>) to have the page continually update with a more accurate version of &pi; by iterating the algorithm at a rate controlled by the &ldquo;Speed Limit&rdquo; slider. The iteration speed will be limited by the speed of the algorithm.</p>

<p>Use the &ldquo;Do One Iteration&rdquo; button (<i class="fas fa-step-forward"></i>) to update the page with only the next iteration of the algorithm. This button is independent of the &ldquo;Speed Limit&rdquo;.</p>

<p>Use The &ldquo;Reset&rdquo; button (<i class="fas fa-redo"></i>) to reset the approximation.</p>

<p>As the calculations progress, &pi;culator shows how much each decimal place has changed from the previous iteration. This is represented in the background colour of the individual decimal places. If the background is white, the decimal place has not changed, otherwise, the background colour will range from lime green to purple, lime green being a smaller change, purple being a larger change.</p>

<p>Colours corresponding to change in decimal place value: <span style="text-align: center; color: #000">

<code>0<span class="x1">1</span><span class="x2">2</span><span class="x3">3</span><span class="x4">4</span><span class="x5">5</span><span class="x6">6</span><span class="x7">7</span><span class="x8">8</span><span class="x9">9</span></code>

</p>


<h1>Terminology</h1>

<dl>
<dt>Decimal Places</dt>
<dd><p>How many digits of &pi; to be approximated. Increasing the value of this number will slow down calculations.</p></dd>
<dt>Algorithm</dt>
<dd><p>The mathematical procedure for approximating &#960;. In the &#960;culator, the algorithms are identified by the names of their creators. Some such examples are "Chudnovsky" and "Leibniz".</p></dd>
</dl>
